::-webkit-scrollbar {
display: none;
}

html { -ms-overflow-style: none; }

html { overflow: -moz-scrollbars-none; }


body{
	background: $secColor;
	font: {
		family: $mainFont;
		size: 14px
	}
	line-height: 1.3;
	margin: 0;
	color: #fff;
	overflow: hidden;
}


img{
	max-width: 95%;
}


g, path{
	pointer-events:all;
}

.ylw{
	color: $ylw;

	hr{
		background: $ylw !important;
	}
}

.center{
	text-align: center;
}

.menu{
	box-shadow: rgba(0, 0, 0, 0.34902) 0px 5px 16px 0px;
	background: $secColor;
	position: fixed;
	top: 40%;
	right: 0;
	z-index: 900;
	text-align: center;

	ul{	
	padding: 0;
	margin: 15px -7px 15px -22px;
	}

	li{
		display: block;
		color: $ylw;
		padding: 4px 0px;

		span{
			margin: -8px;
			font: {
				size: 1.3em;
				family: Fabrikat-regular;			}
		}

		.scroll-icon{
			font: {
				size: 3em;
				family: Fabrikat-regular;
			}

		}
	}

	a, a:link, a:hover, a:active, a:visited{
			text-decoration: none;
			color: $ylw;
		    padding: 4px;
		    margin: 0 15px;
			font: {
				size: 1.55em;
				family: Fabrikat-regular;
			}
		}
}

.title{

	text-transform: uppercase;	

	font: {
		family: Avenir-Black;
		size: 2.3em;
	}

}

.sub-group{
	margin: 20px;
	.title-sm{
			font: {
				family: Fabrikat-regular;
				size: 1.3em;
			}
		}

		hr{
		height: 2px;
	    width: 40px;
	    background: $secColor;
	    position: relative;
	    border: 0;
	    margin: 10px 0 0 0;
		}
}

.group-name{
	text-align: left;
	margin-bottom: 10px;

		hr{
		height: 2px;
	    width: 100px;
	    background: $secColor;
	    position: relative;
	    border: 0;
	    margin: 10px 0 0 0;
		}
}

.flexslider{
	background: inherit !important;
	border: none !important;
}

#half-moon, #full-moon, #sunrise, #sunny{
	cursor: pointer;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.svg) center no-repeat $warmBox;
}