body{
	overflow: hidden;
	background: $darkColor;
	font: {
		family: $mainFont;
		size: 14px
	}
	line-height: 1.3;
	margin: 0;
	color: #fff;
}


img{
	max-width: 95%;
}


.ylw{
	color: $ylw;
}

.center{
	text-align: center;
}

.menu{
	position: fixed;
	top: 10px;
	width: 100%;
	left: 0;
	z-index: 900;
	text-align: center;
	padding: 10px 10px;

	li{
		display: inline-block;

	}

	a, a:link, a:hover, a:active, a:visited{
			text-decoration: none;
			color: #fff;
		    padding: 2px;
		    margin: 0 15px;
			font: {
				size: 1.7em;
				family: Fabrikat-regular;
			}
		}
}