    /*
    Flaticon icon font: Flaticon
    Creation date: 13/07/2016 09:36
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-folder:before { content: "\f100"; }
.flaticon-home-icon-silhouette:before { content: "\f101"; }
.flaticon-navigate-arrows-pointing-to-down:before { content: "\f102"; }
.flaticon-people:before { content: "\f103"; }
.flaticon-squares:before { content: "\f104"; }
    
    $font-Flaticon-folder: "\f100";
    $font-Flaticon-home-icon-silhouette: "\f101";
    $font-Flaticon-navigate-arrows-pointing-to-down: "\f102";
    $font-Flaticon-people: "\f103";
    $font-Flaticon-squares: "\f104";