$darkColor: #111f2c;
$darkColor_alt: #181929;
$ylw: #f4ee6f;
$red: #eb2242;
$darkBox: #1f2035;
$transBox: rgba(48, 51, 55, 0.42);
$transSec: rgba(48, 51, 55, 0.43);
$ylwBlend: rgba(244, 238, 111, 0.52);
$softBox: #58595f;
$warmBox: #222121;
$lightBox: rgba(255, 255, 255, 0.95);
$secColor: #303337;
$transWhite: rgba(255, 255, 255, 0.95);
$gold: #cfc94e;
$mask: rgba(0, 0, 0, 0.19);
$whtMask: rgba(255, 255, 255, 0.91);
$darkGrey: rgba(185, 184, 184, 0.25);