.approach{
	@include group(100%);

	.title{
	color: $secColor;
	}
}


.flow-box{
	background: url(../images/flow.png) repeat !important;
	@extend .tool-box;
	padding: 50px 40px 10px 40px !important;
	background-color: $ylw !important;
	text-align: center;
	min-height: 100%;
}

.flow{
	display: inline-block;
	width: 280px;
	text-align: center;
	padding: 10px 10px 20px 10px;

	svg{
		width: 150px;
	}

	.flow-text{
		margin: 30px 0; 
		color: $secColor;
		font: {
			size: 1.8em;
			family: Fabrikat-Regular;
		}
	}

	.sm{
		font:{
			size: 0.7em;
		}
	}
}
