.about-me{
	@include group(300%);
}

.content{
	@extend .tool-box;
	background: $lightBox !important;
	color: $darkColor;
	font: {
		size: 1.6em;
		family: Fabrikat-Regular;
	}

	.title{
		padding: 0 35px;

		font: {
			size: 2.2em;
		}
	}

	p{
		padding: 0 60px;

		a, a:link, a:hover, a:active, a:visited{
			text-decoration: none;
			color: $darkColor;
			border-bottom: 1px dotted #1c1d30;
		}
	}
}



.tool-box{
	background: $darkBox;
	margin: 0;
	padding: 30px 40px;
}

.title{
	font: {
		family: $blackFont;
		size: 3em;
	}

	svg{
		width: 2em;
    	margin: -22px 5px;
	}
}

.tool-set{
	margin: 20px 10px;
	padding: 1px 10px; 
	text-align: center;


	.bx{
		background-size: 130px 130px;
		width: 130px;
		height: 130px;
		display: inline-block;
		margin: 5px 15px;
		background-blend-mode: screen;
		@include prefix(filter, grayscale(5%), webkit moz o ms);
	}

	.bx2{
		@extend .bx;
		background-size: 85px 85px;
		width: 85px;
		height: 85px;
	}
}

.angular{
	background: url(../images/angularJs.png) no-repeat;
	transform: rotate(12deg);
}

.greensock{
	background: url(../images/greensock.png) no-repeat;
	transform: rotate(-25deg);
}

.sass{
	background: url(../images/sass.png) no-repeat;
	transform: translateX(-11px) rotate(-3deg);
}

.adobe{
	background: url(../images/adobe.png) no-repeat;
}

.bootstrap{
	background: url(../images/bootstrap.png) no-repeat;
	transform: rotate(33deg) translateX(10px);
}

.semantic-ui{
	background: url(../images/semanticUi.png) no-repeat;
}

.wordpress{
	background: url(../images/wordpress.png) no-repeat;
	transform: rotate(-22deg);
}

.marvel{
	background: url(../images/marvel.png) no-repeat;
}

.magento{
	background: url(../images/magento.png) no-repeat;
	transform: translateX(-13px) rotate(-11deg);
}

.uxpin{
	background: url(../images/uxpin.png) no-repeat;
	transform: rotate(6deg);
}

.html5{
	background: url(../images/html5.png) no-repeat;
	transform: rotate(-32deg);
}

.css3{
	background: url(../images/css3.png) no-repeat;
	transform: translateY(20px);
}

.javascript{
	background: url(../images/javascript.png) no-repeat;
}

.jquery{
	background: url(../images/jquery.png) no-repeat;
	transform: rotate(9deg);
}

.tools-img{
	display: none;
}


.contact-box{
	@extend .flow-box;
	padding: 0 !important;
	font: {
		size: 1.5em;
		family: Fabrikat-Regular;
	}


}

.cont-data{
	display: inline-block;
	margin: 10px 8%;

	a, a:link, a:hover, a:active, a:visited{
			text-decoration: none;
			color: #fff;
		}
}

