.about-me{
	@include group(300%);
}

.content{
	@extend .tool-box;
	color: $secColor;
	margin-bottom: 40px !important;


	p{
		padding: 0 60px;

		font: {
		size: 1.45em;
		family: Georgia, Fabrikat-Regular;
	}

		a, a:link, a:hover, a:active, a:visited{
			text-decoration: none;
			color: $darkColor;
			border-bottom: 1px dotted #1c1d30;
		}
	}
}

.toolname{
	color: $darkColor;
	border-bottom: 1px dotted #1c1d30;
}


.tool-box{
	margin: 0;
	padding: 30px 40px;
}



.tool-set{
	margin: 20px 10px;
	padding: 1px 10px; 
	text-align: center;

	}



.contact-box{
	@extend .flow-box;
	padding: 30px 0 !important;
	font: {
		size: 1.5em;
		family: Fabrikat-Regular;
	}
	min-height: 50%;


}

.cont-data{
	display: inline-block;
	margin: 10px 8%;

	a, a:link, a:hover, a:active, a:visited{
			text-decoration: none;
			color: $secColor;
			font: {
				size: 1.2em;
			}
		}
}

.rch{
	color: $secColor;
	margin: 0 0 10px 0;
	font:{
		size: 2.3em;
	}
}

.me-bg{
	@include day-bg('me-bg', 200, 0);
	opacity: 1 !important;
}

.wht-mask{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: $whtMask;
	z-index: 300;
}

.me-data{
	z-index: 400;
    position: relative;
    width: 100%;
    height: 250%;
}