.port{
	@include group(200%);
	background: $transWhite;
	color: #000;
}

.portfolio{
	@extend .tool-box;
	overflow: hidden;
	padding: 20px 0 !important;

	.title{
	padding:0 35px !important;
	font: {
		family: $mainFont;
	}
	}

	svg{
	width: 1.3em !important;
    margin: -7px 5px !important;
	}
}



.p-item{
	height: 550px;
	
	span{
		display: block;
	}

}


.p-left{
	position: absolute;
    top: 50px;
    padding: 70px 0 0 90px;
    font-size: 3.3em;
    z-index: 100;
    color: #000;
}

 .view-proj{
    	font: {
    		size: .7em;
    	}
    	cursor: pointer;
    	width: 4.9em;
    	border-bottom: 1px dotted;
    	color: #000;
    	text-decoration: none;
    }

.p-right{
	position: absolute;
	margin-left: 18vw;
	z-index: 99;
	width: 82vw;
	height: 100%;

}


.popcons{
	@include port-bg('popcons_banner');
}

.loral{
	@include port-bg('loral_banner');
}

.jokerrr{
	@include port-bg('jokerrr_banner');
}

.citidrive{
	@include port-bg('citidrive_banner');
}


.p-items{
	@extend .tool-set;
	text-align: center !important;

	img{
		width: 1200px;
		height: auto;
	}

	.p-item{
		margin-bottom: 30px;
	}

	.p-md{
		@extend .p-wide;
		width: 900px !important;
		height: 444px !important;
		text-align: left;
		color: $darkColor;

		.p-data{
			bottom: -373px !important;
		}
	}

	.p-wide{
		background-size: 800px 466px;
		width: 800px;
		height: 466px;
		margin: 20px 10px;
		display: inline-block;
	}

	.p-data{
		position: relative;
		bottom: -330px;
		left: 50px;
	}

	.p-name{
		margin-top: -2em; 

		font: {
			size: 2.4em;
			family: Fabrikat-Bold;
		}
	}

	.p-details{
		font: {
			size: 1.3em;
			family: Fabrikat-Regular;
		}
	}

	.p-team{
		font: {
			size: 1.4em;
			family: Fabrikat-Regular;
		}
	}

	.p-url{
		margin: 30px 0 5px 0;
	}

	.p-link{
		background: #fff;
		color: $darkColor;
		padding: 8px 14px;
		font: {
			size: 1.3em;
			family: Fabrikat-Regular;
		}

		a, a:link, a:hover, a:active, a:visited{
			text-decoration: none;
			color: $darkColor;
			Font: {
				family: Fabrikat-Black !important;
			}
		}
	}
}

.port-top{
	position: absolute;
	top: 30px;
	left: 30px;
	z-index:500;

	hr{
		margin: 10px 0 0 35px;
	}
}

.popup{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: $mask;
	color: #000;
	font:{
		size: 1.4em;
	}
}

.pop-content{
	width: 1000px;
	background: #fff;
	max-width: 95%;
	min-height: 90%;
	margin: 2% auto auto auto;
	border: 3px solid #fff;
    border-radius: 7px;

}

.pop-close{
	text-align: right;
	padding: 10px 5px;

	.close{
		cursor: pointer;
		border-bottom: 1px dotted;
	}
}