.top{
	@include group(0);
}

.f-row{
	height: 83%;
	width: 40em;
	left: 60%;
	position: relative;
	z-index: 250;
}


.map-canvas{
	position: absolute;
	z-index: 200;
	height: inherit;
	width: 100%;
	left: 0;
	top: 0;

	svg{
		width: 100%;
		height: 100%;
	}
}


.top-corner{
	margin: 100px 50px;

	hr{
		height: 3px;
	    width: 230px;
	    background: #fff;
	    position: relative;
	    border: 0;
	    margin: 20px 0 0 0;
		}
}

.grt{
	margin: 0;
	line-height: 0;

	.hello{
		font: {
			size: 3.5em;
			family: $blackFont;
			line-height: 2;
		}
	}

	#weather {
		text-transform: uppercase;
		line-height: 0;
		font: {
			size: 3em;
		}
		}

	i{
		font:{
			family: Weather;
			weight: normal;
			style: normal;
		}
	}

}

.top-screen{
	overflow: hidden;
	
	.right-side{
		float: right;
		padding: 40px 5px;
		width: 700px;
	}

}


.me{
	margin: 60px 40px;
	position: relative;
	z-index: 250;

	span{
		margin: 0 5px
	}

	.name{
		font: {
			size: 3.3em;
		}
	}
	.des{
		font: {
			size: 1.5em;
		}
	}
	.ux{
		font: {
			size: 1.7em;
		}
	}
}




